In [20]:
import pandas as pd

customer_data = pd.read_csv('customer_data_50.csv')
print(f"\nShape of the DataFrame (rows, columns): {customer_data.shape}\n")
print(customer_data.head())
print(f"\nColumn names and their data types:\n ")
customer_data.info()
customer_data.describe()

mean_age = customer_data['age'].mean()
print("\nMean Age: ", mean_age)
median_age = customer_data['age'].median()
print("Median Age: ", median_age)

Shape of the DataFrame (rows, columns): (50, 13)

   customer_id first_name  last_name                       email gender  age  \
0         1001     Sophia      Smith    sophia.smith@example.com      M   54
1         1002     Joseph      Smith    joseph.smith@example.com      M   66
2         1003       John   Anderson   john.anderson@example.com      F   56
3         1004       Emma  Hernandez  emma.hernandez@example.com      M   44
4         1005      Emily     Garcia    emily.garcia@example.com      F   25

          city state country  purchase_count  total_spend  avg_order_value  \
0  San Antonio    TX     USA               5          965            193.0
1  Los Angeles    CA     USA               7         1246            178.0
2      Phoenix    AZ     USA               1          199            199.0
3  Los Angeles    CA     USA              14         3752            268.0
4       Dallas    TX     USA              12         1620            135.0

           last_purchase_date
0  2023-09-12 15:28:32.140488
1  2023-08-25 15:28:32.140488
2  2024-04-28 15:28:32.140488
3  2024-01-01 15:28:32.140488
4  2023-12-09 15:28:32.140488

Column names and their data types:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         50 non-null     int64
 1   first_name          50 non-null     object
 2   last_name           50 non-null     object
 3   email               50 non-null     object
 4   gender              50 non-null     object
 5   age                 50 non-null     int64
 6   city                50 non-null     object
 7   state               50 non-null     object
 8   country             50 non-null     object
 9   purchase_count      50 non-null     int64
 10  total_spend         50 non-null     int64
 11  avg_order_value     50 non-null     float64
 12  last_purchase_date  50 non-null     object
dtypes: float64(1), int64(4), object(8)
memory usage: 5.2+ KB

Mean Age:  43.44
Median Age:  44.5